@font-face {
  font-family: 'Pineapple Grass';
  src: url('./fonts/Pineapple.ttf');
}

@font-face {
  font-family: "American Typewriter";
  src: url('./fonts/American Typewriter Regular.ttf');
}

.App {
  text-align: center;
  font-family: 'American Typewriter';
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Body {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Instructions {
  min-height: 30vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  display: block;
  padding: 50px 200px 0 200px;
}

.Body-link {
  color: #61dafb;
}

.topInstruction {
  padding-top: 10px;
}

.bottomInstruction {
  padding-bottom: 10px;
}